/*@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/angular-material/angular-material.min.css');*/

.tabsdemoDynamicHeight md-content {
	background-color: transparent !important; 
	padding: 0px !important;
	margin-top: 20px;
}

.tabsdemoDynamicHeight md-tabs-wrapper {
	background-color: transparent !important; 
	width: calc(100% - 30px) !important;
}

.tabsdemoDynamicHeight md-tab-item{
	font-weight: bold !important;
	min-width: 100px !important;
	max-width: 200px !important;
}

.tabsdemoDynamicHeight .md-tab.md-active{
	color: #4931B2;
	background-color: #fff;
}

.tabsdemoDynamicHeight md-ink-bar{
	color: #4931B2;
	background-color: #4931B2;
	height: 5px;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
	background: white; 
}

.tabsdemoDynamicHeight md-content h1:first-child {
	margin-top: 0; 
}

.and-text{
	color: #000;
}

.download{
	right:0;
	top: 15px;
	width: auto;
	position:absolute;
	cursor: pointer;
	z-index: 1000;
	text-decoration: none !important;
}
 
.top_bar{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 30px;
}

.tab-controller{
	margin-top: 30px;
	position: relative;
}

.download:focus{
	outline: none !important;
}

.glyphicon{
	margin: 0px !important;
}

.accgrp{
	border:1px solid;
	margin-bottom: 45px !important;
	background-color: #fff !important;
	padding: 0px !important;
}

.list-group{
	padding-left: 2em !important;
}

.accgrp > .panel-heading{
	padding: 0px!important;

}

.accgrp > .panel-heading > .panel-title > a > span > .heading{
	padding: 0.1em 1em 0.1em 1em !important;
}


.accgrp > .panel-heading > .panel-title > a:hover{
	text-decoration: none;
}

.accgrp > .panel-heading > .panel-title > a:link{
	text-decoration: none;
}

.accgrp > .panel-heading+.panel-collapse > .panel-body {
    border-top: none !important;
}

body{
	background-color: #F5F5F5;
}

h4{
	margin-top: 2px;
	margin-bottom: 5px;
}