.tabsdemoDynamicHeight md-content {
	background-color: transparent !important; 
}

.tabsdemoDynamicHeight md-content md-tabs {
	background: #f6f6f6;
	border: 1px solid #e1e1e1; 
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
	background: white; 
}

.tabsdemoDynamicHeight md-content h1:first-child {
	margin-top: 0; 
}
.accordion-toggle {
  	text-decoration: none !important;
}

.more-less {
    float: right;
}
.download{
	float: right;
	right:0;
	top: 0;
}

.top_bar{
	font-size: 2em;
	padding-right: 0.8em;
	padding-left: 0.8em;
	padding-bottom: 0.5em;
	padding-top: 0.2em;
}

.download:focus{
	outline: none;
}