<uib-accordion ng-init="vm.datainit()">
    <div uib-accordion-group
    ng-repeat="lname in vm.list_names()" 
        style="border-color: {{vm.listcolors[lname]}}"
        ng-if="filedata[lname].length>0"
    is-open="status.open"  class="accgrp {{lname}}">
        <uib-accordion-heading>
            <div class= "heading" 
            ng-style="vm.labelStyle[{{$index}}]">
            <h4 ng-style="vm.labelText[{{$index}}]">{{lname | uppercase}} 
            ({{vm.filedata[lname].length}})
            <i class="pull-right glyphicon" 
                ng-class="{'glyphicon-triangle-bottom': status.open, 
                'glyphicon-triangle-right': !status.open}"></i></h4>
            </div>
        </uib-accordion-heading>
        <div list-view list="vm.filedata[lname]" 
            styling="vm.textStyle[$index]">
        </div>
    </div>
</uib-accordion>